* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, serif;
  background-color: salmon;
  transition: background-color 0.5s ease;  /* Applies to all background page transition */
}

#second {
  color: #fff;
}

nav {
  margin-top: 3rem;
  top: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin: 0 2rem;
  list-style:  none;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #000;
}

header,
section,
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.bg-active1 {
  background-color: #80cec6;
}

.bg-active2 {
  background-color: #58d876;
}

.bg-active3 {
  background-color: #c189d3;
}
