/* Base Style */
* {
  margin: 0;
  padding: 0;
}

/* .audio-player {
  display: flex;
  align-items: center;
} */

button.play {
  display: block;
  width: 80px;
  height: 80px;
  border: 0;
  color: #eee;
  font-size: 30px;
  border-radius: 25px;
  cursor: pointer;
}

.seek-bar {
  margin: 30px;
  width: 400px;
  background-color: #eee;
  display: flex;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}

.fill {
  height: 10px;
  /* width: 40px; */
  background-color: #0af;
  border-radius: 25px;
}

.handle {
  width: 10px;
  height: 10px;
  background-color: #0af;
  border-radius: 25px;
  margin-left: -5px;
  transform: scale(2);
  transition: all 0.1s;
}

.handle:hover {
  background-color: rgba(0, 170, 255, 0.7);
  transform: scale(3);
}


/* New */

.audio-player {
  width: 80px;
}

/* Styling the Progress bar */
progress {
  margin-left: 80px;
  border: 1px solid black;

  border-radius: 15px;
}

progress[value] {
  /* Reset default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 250px;
  height: 20px;

  background-color: blue;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: blue;
}

/* a candystrip effect using linear-gradient on background-image property */
/* progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
} */
