* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* html {
    width: 100%;
    height: 100vh;
    line-height: 1;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
} */

body {
  background-color: #FFB1C8;
  font-family: sans-serif, serif;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text h1 {
  font-size: 4rem;
}

.intro-text p {
  font-size: 2rem;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page1 {
  text-align: center;
  width: 70%;
}

.page1 h1 {
  margin-bottom: 1rem;
}

section img {
  width: 70%;
  height: 50%;
   /* NOT COMPATIBLE WITH SVG FILE */
  /* object-fit: cover; */
}
