* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFB1C8;
  font-family: sans-serif, serif;
  transition: background-color 0.5s ease;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text h1 {
  font-size: 4rem;
}

.intro-text p {
  font-size: 2rem;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page1 {
  text-align: center;
  width: 70%;
}

.page1 h1 {
  margin-bottom: 1rem;
}

section img {
  height: 65%;
  width: auto;
}

.bg-active {
  background-color: #fff;
}
