* {
  margin: 0;
  padding: 0;
}


.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.gallery img {
  position: absolute;
  height: auto;
  width: 400px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#crossfade {
position: relative;
height: 281px;
width: 450px;
margin: 0 auto;
}

/* animation shorthand
animation-name | animation-timing-function | animation-iteration-count | animation-duration */
#crossfade img {
  animation: fadeInOut ease-in-out infinite 15s;
  visibility: hidden;
}

#crossfade img:nth-of-type(1) {
  animation-delay: 10s;
}

#crossfade img:nth-of-type(2) {
  animation-delay: 5s;
}

#crossfade img:nth-of-type(3) {
  animation-delay: 0s;
}

@keyframes fadeInOut {
0% {
  opacity: 0;
  visibility: hidden;
}
6.67% {
  opacity: 1;
  visibility: visible;
}
26.68% {
  opacity: 1;
  visibility: visible;
}
33.35% {
  opacity: 0;
}
100% {
  opacity: 0;
}
}
