* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* = 10px */
}

.icon-container {
  /* Center position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* presets */
  cursor: pointer;
  /* Size of container */
  width: 80px;
  height: 80px;
  /* Styles */
  background: orange;
}

/*
NOTE: Make sure the styles for the hamburger lines are consistent with '.hamburger::before',
'.hamburger::after' and '.hamburger'
*/

.hamburger {
  /* Create size of the hamburger's layer - the line(s) */
  width: 50px;
  height: 6px;
  /* Styles */
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Center position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation presets */
  transition: .5s;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  /* Create size of the hamburger's layer - the line(s) */
  width: 50px;
  height: 6px;
  /* Styles */
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* animation presets */
  transition: .5s;
}

/* Position/ Separate the lines */
.hamburger::before {
  top: -16px;
}

.hamburger::after {
  top: 16px;
}
