* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* = 10px */
}

:root {
  --first-level-color: #ddd;
  --second-level-color: #bbb;
  --third-level-color: #999;
  --fourth-level-color: #6a6666;
}

/* ===== Styles ===== */

/* resets */
a {
  text-decoration: none;
  color: #000;
}

#main_nav li {
  list-style: none;
}

#main_nav {
  /* display: flex; */
}

/* ===== Utitlies ===== */

/* Presets */
ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  position: relative;
}

/* ===== Utitlies ===== */
/* UTILITIES on hover-effect */
/* description: Color highlight on first level and second level */
#main_nav li:hover, #main_nav li:hover li {
  background: var(--first-level-color);
}

/* #main_nav li a {
  background: var(--first-level-color);
} */

/* #main_nav li:focus-within {
  border: green solid 1px;
} */

/* description: color highlight for second level on HOVER */
#main_nav li li:hover, #main_nav li li:hover li {
  background: var(--first-level-color);
}

/* description: color highlight for third level on HOVER */
#main_nav li li li:hover, #main_nav li li li:hover li {
  background: #999;
}

#main_nav li li li a {
  background: #999;
}

/* description: color highlight for fourth level on HOVER */
#main_nav li li li li:hover {
  background: #6a6666;
}

#main_nav li li li li a {
  background: #6a6666;
}

/* on HOVER make visible for all levels */
/* SELECT all ul elements where the parent is #main_nav li */
#main_nav li:hover > ul {
  visibility: visible;
  opacity: 1;
}

/* ===== Mobile ===== */

@media (max-width: 480px) {
  /* ===== Styling ===== */

  #menu-icon {
    display: block;
    height: 48px;
    background: grey;
    color: white;
    text-align: center;
    font-size: 24pc;
    line-height: 2em;
    font-family: roboto;
    font-size: 2em;
    cursor: pointer;
  }

  .has-submenu-1,
  .has-submenu-2,
  .has-submenu-3,
  .has-submenu-4 {
    background: var(--first-level-color);
  }

  .has-submenu-1 ~ ul,
  .has-submenu-2 ~ ul,
  .has-submenu-3 ~ ul,
  .has-submenu-4 ~ ul {
    background: var(--second-level-color);
  }

  #main_nav,
  #main_nav ul ul {
    display: none;
  }

  #main_nav ul {
    display: flex;
    flex-direction: column;
  }

  #main_nav a,
  #menu-icon {
    height: 48px;
    padding: 21px;
    /* padding: 16px; */
    /* margin: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid red 1px;
  }

  .arrow {
    margin-left: 0.8em;
  }

  /* ===== Utitlies ===== */

  .display-block {
    display: block !important;
  }

  /* Arrow rotate animation on 'click' event listener */
  .arrow {
    transition: transform 0.15s linear;
  }

  .display-rotate {
    transform: rotate(90deg);
  }

/* (1) Uncomment below to use */
  /* ===== STYLE PREFERENCE option i =====
  description: HIGHLIGHTS selected main submenus */

  .display-selected {
    /* Use '!important' for the third level */
    background: yellow !important;
  }

/* (2) Uncomment below to use */
  /* ===== STYLE PREFERENCE option ii =====
  description: HIGHLIGHTS selected main submenus with the same color as its lower level
  With selector: .third-floor-selected
  USE '!important' for the third level
  Because it gets ignored by more "important" selectors used on that element */

  /* .first-floor-selected {
    background: var(--second-level-color);
  }

  .second-floor-selected {
    background: var(--third-level-color);
  }

  .third-floor-selected {
    background: var(--fourth-level-color) !important;
  } */
}

  /* ===== Desktop and w/e [test] ===== */
/* Testing only to and from mobile and desktop responsive menu */

@media (min-width: 481px) {
  #menu-icon {
    display: none;
  }

  /* Presets fo 'multi levels' dropdowns */
  /* NB: If there's more dropdowns add extra 'ul' to target them */
  ul ul ul {
    left: 100%;
    top: 0;
  }

  /* ===== Styling ===== */

  #main_nav {
    /* Already declared 'display: flex' above */
    justify-content: space-around;
  }

  #main_nav li {
    padding: 20px; /* specify size */
    border: 1px solid red; /* customize */
    position: relative;
    float: left;
    width: 150px; /* Specify size */
  }

  #main_nav ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
  }

  #main_nav ul ul ul {
    left: 100%;
    top: 0;
  }
  /* IF there's anymore levels, add more 'ul' and give the same syntax above */

  /* ===== Utitlies ===== */
  /* For 'two levels' dropdowns, add the following and it will be enough */
  /* li:hover ul {
    display: block;
  } */

  /* For more thant two or 'multiple levels', add the following instead */
  li:hover > ul {
    display: block;
  }

  /* functionality: HIDES sub-menus */
  ul ul {
    position: absolute;
    display: none;
  }

  /* animation */
  #main_nav ul {
    transition: 0.5s;
  }

  #main_nav li {
    transition: 0.5s;
  }
}
