* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* = 10px */
}

body {
  background: #e84118;
}

.searchbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 4rem;
  border-radius: 4rem;
  padding: 1em;
}

.searchbox:hover > .searchbox__txt {
  width: 24rem;
  padding: 0 0.6em;
}

.searchbox:hover > .searchbox__txt--btn {
  background: white;
}

.searchbox__txt--btn {
  color: #e84118;
  float: right;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox__txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 1.6rem;
  transition: 0.4s;
  line-height: 4rem;
  width: 0;
}
