@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* = 10px */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'ZCOOL KuaiLe', cursive, sans-serif;
  font-size: 1.8rem;
}

.loader {
  font-size: 4rem;
  color: #db7093;
}

.loader::after {
  content:  '\2026';
  display: inline-block;
  overflow: hidden;
  /* `font-family: 'ZCOOL KuaiLe' is
  preventing `vertical-align: bottom;` functionality */
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    /* Showing only the right amount of dots */
    width: 1.25em; /* similar to 45px, or use 4.5rem */
  }
}
